.label {
  margin-bottom: 20px;
}

.sectionTitle {
  margin-bottom: 20px;
}

.forgotPassword {
  display: block;
  text-align: end;
  margin-top: 6px;
}

.registerButton {
  margin-top: 45px;
  width: 100%;
}

.registrationConsent {
  color: #5b5a5a;
  font-size: 12px;
}

.checkboxWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 1;
  margin-bottom: 8px;
}

.checkboxWrapper input {
  accent-color: var(--brand-book);
  width: 24px;
  height: 21px;
}

.consentInfo {
  margin-top: 16px;
  margin-bottom: 16px;
}

.responseError {
  color: rgb(225 23 23);
  font-size: 15px;
  font-weight: 600;
}

.registrationButton {
  width: 100%;
  margin-top: 30px;
}
