.form {
  padding: 0 17px;
}

.emailLabel {
  margin-bottom: 16px;
}

.sectionTitle {
  margin-bottom: 30px;
}

.forgotPassword {
  display: block;
  text-align: end;
  margin-top: 6px;
  text-decoration: none;
}

.loginButton {
  width: 100%;
  margin-top: 40px;
}

.responseError {
  color: rgb(225 23 23);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.submitButton {
  margin-top: 40px;
}
