.footer {
  background-color: #18003e;
  padding: 64px 112px;
  padding-bottom: 17px;
  color: #8c8c8c;
  border-radius: 20px 20px 0 0;
}

.slogan {
  font-size: 16px;
  margin-top: 16px;
}

.linkIconList {
  display: flex;
  gap: 18px;
  margin-top: 20px;
}

.description {
  font-size: 12px;
  margin-top: 64px;
}

.line {
  height: 1px;
  background-color: #e6e6e61a;
  margin-top: 35px;
}

.date {
  font-size: 14px;
  margin-top: 18px;
}
